{% extends 'base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все посты</h1>

    {% if articles|length > 0 %}

        {% for el in articles%}
        <div class="alert-info">
            <h2> {{ el.title }} </h2>
            <p> {{ el.intro }} </p>
            <p><b> Дата: {{ el.date.date() }} </b></p>
            <a href = "/posts/{{ el.id }}" class = "btn btn-warning"> Просмотреть статью </a>
        </div>
        {% endfor %}

    {% else %}

    <p> У нас нет ещё статей на сайте </p>

    {% endif %}

</div>
{% endblock %}